<h4>Name</h4>
<h3>{{product.name}}</h3>
<p>${{product.price}}</p>
<p>{{product.story}}</p>
<p>{{product.specs}}</p>
<p>{{product.materials}}</p>
<p>{{product.origin}}</p>
<img src={{product.image1}}>
<img src={{product.image2}}>
