<h6 class="category-route"> Products/ {{categoryName}}</h6>

<h2>{{product.name}}</h2>
<p>${{product.price}}</p>
<p>{{product-cost product}}</p>
<button class="btn btn-lg btn-success" {{action 'addToCart' product}}>Add to Cart</button>
<p>Cart:{{display-cart}}</p>
<hr>
<p>{{product.story}}</p>
<p>{{product.specs}}</p>
<p>{{product.materials}}</p>
<p>{{product.origin}}</p>
<img class="product-detail-img" src={{product.image1}}>
<img class="product-detail-img" src={{product.image2}}>
